[submodule "dwm-flexipatch"]
	path = pkgs/flexipatch/dwm-flexipatch
	url = https://github.com/bakkeby/dwm-flexipatch.git
[submodule "st-flexipatch"]
	path = pkgs/flexipatch/st-flexipatch
	url = https://github.com/bakkeby/st-flexipatch.git
