name: Build packages
on:
  workflow_dispatch:
  push:
    branches:
      - staging
  workflow_run:
    workflows:
      - Update sources
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cacheable: [true, false]
    steps:
      - name: ci-hoover
        uses: xd009642/ci-hoover@0.1.1

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: staging
          fetch-depth: 0

      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@latest
        with:
          extra_nix_config: |
            keep-env-derivations = true
            keep-outputs = true
            accept-flake-config = true

      - name: Restore cache
        if: ${{ !matrix.cacheable }}
        id: cache-restore
        uses: nix-community/cache-nix-action/restore@v6
        with:
          primary-key: build-${{ runner.os }}

      - name: Build cacheable packages
        if: ${{ matrix.cacheable }}
        run: |
          nix develop .#build -c nix-fast-build \
            -f .#legacyPackages.x86_64-linux._CACHEABLE \
            --no-nom \
            --skip-cached \
            --cachix-cache bandithedoge
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build uncacheable packages
        if: ${{ !matrix.cacheable }}
        run: |
          nix develop .#build -c nix-fast-build \
            -f .#legacyPackages.x86_64-linux._UNCACHEABLE \
            --no-nom \
            --skip-cached

      - name: Save cache
        if: ${{ !matrix.cacheable && always() && steps.cache-restore.outputs.hit-primary-key != 'true' }}
        uses: nix-community/cache-nix-action/save@v6
        with:
          primary-key: build-${{ runner.os }}
          gc-max-store-size: 8G
          purge: true

  merge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: staging
          fetch-depth: 0

      - name: Setup Git user
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Merge into master
        uses: everlytic/branch-merge@1.1.5
        with:
          github_token: ${{ github.token }}
          source_ref: staging
          target_branch: master
          commit_message_template: "Merge updates"

      - name: Trigger NUR update
        run: curl -XPOST "https://nur-update.nix-community.org/update?repo=bandithedoge"
